{
    "branches": [
        "main",
        "semantic-release",
        "monorepo"
    ],
    "plugins": [
        [
            "@semantic-release/npm",
            {
                "npmPublish": false,
                "tarballDir": "dist"
            }
        ]
    ]
}